html {
    background-color: #F1BDAD;
}
nav {
    margin-left: 400px;
    font-family: Raleway;
    font-size: 18px;
    color: #41436A;
}
h1 {
    color: #41436A;
    font-family: 'playfair display';
    font-weight: bold;
}
h3 {
    color: #41436A;
    font-weight: medium;
}
p {
    color: #984063;

}
.inline-block {
display: inline-block;
vertical-align:top;
}
header {
    display: inline-block;
}
.logo {
    width: 23%;
    padding: 1%;
}

.flexContainer {
  display: flex;  
}
.flexchildren {
    width: 33%;
    margin: 10%;
    padding: -0.5px;
}

.workGrid {
    display:grid;
    grid-template-areas: 20px 20px 20px 20px;
}
.myWork {
    grid-area: 20px;
}